{% extends 'base.html' %}

{% block body %}

    <section id="inicio" class="row m-0 p-0">  
        <div class="col-md-9 d-flex justify-content-center align-items-center flex-column">
            <div class="text-white text-shadow">
                <h2>Moacir Nunes dos Santos Junior</h2>
                <hr>
                <span id="subtitle">Desenvolvedor Python Fullstack, Automação de Processos, Web Scraping</span><br>
            </div>    
        </div>

        <div class="col-md-3 d-flex justify-content-end align-items-end">
            <div id="arraste" class="d-flex align-items-center">
                <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                <a href="">Arraste para mais</a>
            </div>
        </div>
    </section>    

{% endblock %}