{% extends 'base.html' %}

{% block body %}

    <section id="inicio" class="row m-0 p-0">  
        <div class="col-md-9 d-flex justify-content-center align-items-center flex-column">
            <div class="text-white text-shadow">
                <h2>Moacir Nunes dos Santos Junior</h2>
                <hr>
                <span id="subtitle">Desenvolvedor Python Fullstack, Automação de Processos, Web Scraping</span><br>
            </div>    
        </div>

        <div class="col-md-3 d-flex justify-content-end align-items-end">
            <div id="arraste" class="d-flex align-items-center">
                <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                <a href="#sobre">Arraste para mais</a>
            </div>
        </div>
    </section> 
    
    <section class="container mt-5" id="sobre">
        <div class="row w-100">
            <div class="col-md-12">
                <h2 class="pt-3">Sobre</h2>
                
                <p>Estou migrando de carreira e buscando uma oportunidade para iniciar uma carreira sólida na área de tecnologia.<br>   
                Entusiasta de assuntos como proteção ao meio ambiente, tecnologia, economia, geopolítica internacional, sustentabilidade, igualdade social e disseminação de conhecimento.<br>
                Sou engajado na resolução de problemas, comprometido e estou em constante desenvolvimento.<br> 
                Sou fascinado por tecnologia, inovação e pelo resultado positivo que posso gerar, alcançando milhares de pessoas no mundo inteiro, resolvendo problemas do cotidiano ou criando soluções sustentáveis, através do desenvolvimento de novas aplicações, por isso adoraria uma oportunidade de aplicar todo o conhecimento que aprendi nos cursos.<br>  
                </p>
            </div>

            <div class="row mt-4 mb-5">
                <div class="col-md-3">
                    <img class="img-fluid shadow" src="../static/img/mnsjr.jpeg" alt="foto-mnsjr">
                </div>
                <div class="col-md-9">
                    <h3>Fotografo Profissional</h3>
                    <p>Eu sempre tive como propósito profissional trabalhar com algo que impactasse a vida das pessoas, a fotografia social proporcionou-me isso por mais de 10 anos, e pretendo manter esta característica em todas as minhas atuações profissionais.<br>
                    Acredito que minha maturidade, soft skills e ótimo relacionamento interpessoal sejam grandes diferencias.</p>

                        <div class="row mt-3 mb-3">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Niver: <span class="fw-lighter">03 de Março</span>
                                    </li>
                                    <li class="list-group-item">
                                        Idade: <span class="fw-lighter">38 anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        Cidade: <span class="fw-lighter">Várzea Paulista</span>
                                    </li>
                                    <li class="list-group-item">
                                        Estado: <span class="fw-lighter">São Paulo</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Hobbies: <span class="fw-lighter">musica, arte, games, fotografia</span>
                                    </li>
                                    <li class="list-group-item">
                                        Trabalho: <span class="fw-lighter">Iluminar Fotografoa e Filmes</span>
                                    </li>
                                    <li class="list-group-item">
                                        Site: <span class="fw-lighter"><a href="https://www.iluminarfotografia.com.br/" target="_blank" class="fw-lighter text-decoration-none link-dark">iluminarfotografia.com.br</a></span>
                                    </li>
                                    <li class="list-group-item">
                                        Experiência: <span class="fw-lighter">+ 10</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    <p>Acredito que minha maturidade, experiência com atendimento a clientes, soft skills e ótimo relacionamento interpessoal sejam grandes diferencias.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg" id="habilidades">
        <div class="container pb-5">
            <h2 class="pt-5">Habilidades</h2>
            <p>No curso Desenvolvimento Python Full Stack, pude construir páginas com Flask, Bootstrap, HTML, CSS, segurança e encriptação, CRUD, integração SQL/MySQL com SQLAlchemy. Projetos em meu Github.<br>
            Aprendí automação de processo e web scraping com Selenium e Pyautogui. 
            Construí APIs com conceitos restful utilizando os frameworks FastAPI e Flask.<br>
            Utilizei as principais ferramentas de ciência de dados, entre elas, Pandas, Numpy e Matplotlib. Neste módulo, pude trabalhar com banco de dados e web scraping com Selenium onde foram abordados os princípios fundamentais de análise e tratamento de dados, obtenção de insights, estratégias para negócios e resolução de problemas através do uso de Inteligência Artificial e Machine Learning com modelos de Classificação e Regressão.<br>
            Buscando me adequar ainda mais às estratégias de negócios modernas, cursei Metodologias Ágeis SCRUM, Kanban e estou apto a desenvolver estas metodologias em minha rotina de trabalho.<br>
            </p>

            <h4 class="mt-5">Main Skills</h4>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Python</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"     aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                    <p class="mt-3 mb-0">HTML e CSS</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"     aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                    <p class="mt-3 mb-0">SQL</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"     aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                    <p class="mt-3 mb-0">Git Github</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"     aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                    <p class="mt-3 mb-0">Deploy</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20"     aria-valuemin="0" aria-valuemax="100">20%</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Flask</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"     aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                    <p class="mt-3 mb-0">Selenium e Pyautogui</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45"     aria-valuemin="0" aria-valuemax="100">45%</div>
                    </div>
                    <p class="mt-3 mb-0">Pandas e Numpy</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40"     aria-valuemin="0" aria-valuemax="100">40%</div>
                    </div>
                    <p class="mt-3 mb-0">Matplotlib e Plotly</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"     aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                    <p class="mt-3 mb-0">Scikit-learn</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40"     aria-valuemin="0" aria-valuemax="100">40%</div>
                    </div>
                </div>
            </div>

            <h4 class="mt-5">Soft Skills</h4>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Trabalho em Equipe</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"     aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                    <p class="mt-3 mb-0">Proatividade</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 950%;" aria-valuenow="95"     aria-valuemin="0" aria-valuemax="100">95%</div>
                    </div>
                    <p class="mt-3 mb-0">Orientação a Detalhes</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"     aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Comunicação</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"     aria-valuemin="0" aria-valuemax="100">95%</div>
                    </div>
                    <p class="mt-3 mb-0">Empatia</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"     aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                    <p class="mt-3 mb-0">Comprometimento</p>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98"     aria-valuemin="0" aria-valuemax="100">98%</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}