<aside id="header">
    <section class="profile">
        <img class="logo" src="../static/img/foto.jpg" alt="Foto do mnsjr">
        <h1>mnsjr</h1>
        <div class="text-center mt-4">
            <a class="social-links" href="https://www.linkedin.com/in/mnsjr/" target="_blank">
                <img height="20" width="20" src="../static/img/IconLinkedinGray.png"></img>
            </a>
            <a class="social-links" href="https://github.com/mnsjr" target="_blank">
                <img height="20" width="20" src="../static/img/IconGithubGray.png"></img>
            </a>
            <a class="social-links" href="https://api.whatsapp.com/send/?phone=5511997741587&text&type=phone_number&app_absent=0" target="_blank">
                <img height="20" width="20" src="../static/img/IconWhatsappGray.png"></img>
            </a>
        </div>
    </section>

    <nav id="navbar" class="nav-menu mt-4 ms-4">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('inicio') }}">
                <img class="me-1" height="15" width="15" src="../static/img/IconHouseGray.png"></img>
                Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('sobre') }}">
                <img class="me-1" height="15" width="15" src="../static/img/IconPersonGray.png"></img>
                Sobre
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img class="me-1" height="15" width="15" src="../static/img/IconCheckListGray.png"></img>
                Habilidades
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                  <img class="me-1" height="15" width="15" src="../static/img/IconFileGray.png"></img>
                  Currículo
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img class="me-1" height="15" width="15" src="../static/img/IconCollectionGray.png"></img>
                  Portfólio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img class="me-1" height="15" width="15" src="../static/img/IconMailGray.png"></img>
                  Contato
                </a>
              </li>
          </ul>
    </nav>
</aside>